@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

@white: #FFF;
@grey-dark: #555;
@grey-mid: #999;
@green-main: #50BB81;
@blue-main: #5071b1;

html, body {
    height: 100%;
    width: 100%;
}

body {
    padding-top: 70px;
}

.navbar.navbar-default {
    padding: 20px 0 0;
    background-color: @green-main;
    border-color: @green-main;
    
    a, a:active, a:hover, a:focus {
        color: @white;
    }
    
    .navbar-collapse {
        &.in, &.collapsing {
            background-color: @white;
            
            .navbar-nav li {
                a {
                    color: @grey-mid;
                }
                
                .dropdown-menu li a {
                    color: @grey-mid;
                }
            }
        }
        
        .navbar-nav li {
            a {
                color: @white;
            }
            
            &.dropdown.open a{
                color: @grey-dark;
            }

            &.active {
                a, a:hover, a:focus {
                    color: @grey-dark;
                }
            }

            .dropdown-menu li a {
                color: @grey-dark;
            }
        }
    }
    
    .navbar-toggle {
        border-color: @white;
        
        .icon-bar {
            background-color: @white;
        }
    }
}

.header {
    background-color: @green-main;
    padding: 5em 0 5em;
    margin-bottom: 50px;
    
    span {
        margin: 0 auto 30px;
        width: 144px;
        height: 144px;
        font-size: 108px;
        line-height: 140px;
        color: @white;
        display: block;
        border: 1px solid @white;
        border-radius: 10px;
        text-align: center;
    }

    p {
        text-align: center;
        color: #F0F4F4;
        font-size: 24px;
    }
}

.pages {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .page {
        position: absolute;
        height: 100%;
        width: 100%;
        
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        -webkit-transition: -webkit-transform .5s ease-in, opacity .5s ease, visibility 0s ease .5s;
        transition: transform .5s ease-in, opacity .5s ease, visibility 0s ease .5s;

        -webkit-transform: translateX(100%);
        transform: translateX(100%);

        &.left {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            opacity: 0;
            visibility: hidden;
        }

        &.center {
            -webkit-transform: translateX(0%);
            transform: translateX(0%);
            opacity: 1;
            visibility: visible;
            transition-delay:0s;
        }

        &.right {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            opacity: 0;
            visibility: hidden;
        }
    }
    
    a, .pagination > li > a {
        color: @blue-main;
    }
    
    .pagination > li.active > a {
        color: @white;
        background-color: @blue-main;
    }
    
    .btn-primary {
        background-color: @blue-main;
    }
}

.nav.nav-pills {
    margin-bottom: 15px;
    
    > li.active {
        a, a:hover, a:focus {
            background-color: @blue-main;
        }
    }
}

#ranking .has-success select {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

ul.pagination {
    margin: 0 0 10px 0;
}

.panel.panel-default.match {
    margin-bottom: 15px;
    box-shadow: inset 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
    
    hr {
        margin: 15px 10px;
    }
    
    .team {
        img {
            height: 34px;
        }
        
        p.lead {
            height: 34px;
            line-height: 34px;
            padding-left: 5px;
            margin-bottom: 0;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        
        div.tipInputSuperLeague {
            max-width: 100px;
            
            input {
                padding-left: 6px;
                padding-right: 6px;
            }
        }
        
        .has-success {
            input {
                -webkit-transition-duration: 1s;
                transition-duration: 1s;
            }
        }
    }
}

#allTipsSuperLeagueProgressBar {
    margin-top: 5px;
}